<head>
	<meta charset="UTF-8">
	<title>User</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'user_app/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>

    <a href="Home">Home</a><a href="Logout">Logout</a>
    <h3>Add a ne book Title and a review</h3>

    <form action="/add_book_post" method="post">
                {% csrf_token %} 
        <label for="book_name">BOOK TITLE:</label>
        <input type="text" id="email" name="book_name"></br></br>

        <label>Dojo Location:</label> 
        <select name="Author" id='Author name'>
                <option value="Empty"> </option>
            {% for dat in authorList %}
                <option value="{{ dat.author_name }}"> {{ dat.author_name }}</option>
            {% endfor %}
        <select></br>
        <label for="author_name">Or Add a new author:</label>
        <input type="text" id="email" name="author_name"></br></br>

        <label for="book_review">Book Review:</label>
        <input type="textarea" id="review" name="book_review"></br></br>
        <input type="hidden" name="user_id" value="{{ user_id }}"></br></br>

        <label>Rating:</label> 
        <select name="rating" id='rating'>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select></br>

        <input type="submit" class="button" value="Add Book and Review">
    </form>

    {% for error in request.session.errors %}
        <p>{{ error }}</p>
    {% endfor %}

</body>
</html>